<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/head_nav.css">
		<link rel="stylesheet" href="static/css/form.css">
        <link rel="stylesheet" href="static/css/about.css">
        <link rel="shortcut icon" type="image/png" href="static/img/appicon2.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        </style>
    </head>
    <body>
        <div class="loader" >
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <div class = 'd-flex justify-content-between'>
        <header class="header row-mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li class="active"><a href="/about">About</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/adddoctor">Add Doctor Details</a></li>
								<li><a href="/prediction" hidden>Prediction</a>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </header>
		<section class="blog-hero spad">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-9 text-center">
						<div class="blog__hero__text">
							<h2>Acute Lymphoblastic Lukemia</h2>
							<ul>
								<li>Fast heartbeat or chest pain.</li>
								<li>Bone or joint pain</li>
								<li>Feeling weak and tired (from anemia)</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog Details Hero End -->
	
		<!-- Blog Details Section Begin -->
		<section class="blog-details spad">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-12">
						<div class="blog__details__pic">
							<img src="static/img/lukemia.jpg" width='250' height='250' alt="">						</div>
					</div>
					<div class="col-lg-8">
						<div class="blog__details__content">
							<div class="blog__details__text">
								<p>Hydroderm is the highly desired anti-aging cream on the block. This serum restricts the
									occurrence of early aging sings on the skin and keeps the skin younger, tighter and
									healthier. It reduces the wrinkles and loosening of skin. This cream nourishes the skin
									and brings back the glow that had lost in the run of hectic years.</p>
								<p>The most essential ingredient that makes hydroderm so effective is Vyo-Serum, which is a
									product of natural selected proteins. This concentrate works actively in bringing about
									the natural youthful glow of the skin. It tightens the skin along with its moisturizing
									effect on the skin. The other important ingredient, making hydroderm so effective is
									“marine collagen” which along with Vyo-Serum helps revitalize the skin.</p>
							</div>
							<div class="blog__details__text">
								<p>Vyo-Serum along with tightening the skin also reduces the fine lines indicating aging of
									skin. Problems like dark circles, puffiness, and crow’s feet can be control from the
									strong effects of this serum.</p>
								<p>Hydroderm is a multi-functional product that helps in reducing the cellulite and giving
									the body a toned shape, also helps in cleansing the skin from the root and not letting
									the pores clog, nevertheless also let’s sweeps out the wrinkles and all signs of aging
									from the sensitive near the eyes.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
    <script src="static/js/jquery-1.11.3.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.countdown.js"></script>
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<script src="static/js/waypoints.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<script src="static/js/sticker.js"></script>
	<script src="static/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>