<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/head_nav.css">
        <link rel="stylesheet" href="static/css/form.css">
        <link rel="shortcut icon" type="image/png" href="static/img/appicon2.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        </style>
    </head>
    <body>
        <div class="loader" >
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <div class = 'd-flex justify-content-between'>
        <header class="header row-mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <nav class="header__menu mobile-menu">
                            <ul>
								<li><a href="">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li class="active"><a href="/adddoctor">Add Doctor Details</a></li>
								<li><a href="/prediction" hidden>Prediction</a>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </header>
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-8 mt-80 h-100">
					<div class="wrap d-md-flex" style ="height: 300px;">
						<div class="text-wrap h-100 text-center d-flex align-items-center order-md-last px-0">
								<img src = 'static/img/doctor.jpg'/>
			      </div>
						<div class="login-wrap p-4 p-lg-5" style ="height: 350px;">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Doctor Details:</h3>
			      		</div>
			      	</div>
							<form action="{% url 'adddoctor' %}" method="post" class="signin-form">
								{% csrf_token %}
			      		<div class="form-group mb-4">
			      			<label class="label" for="name">Name</label>
			      			<input type="text" class="form-control" placeholder="Username" name="docname" required>
			      		</div>
						  <div class="form-group mb-4">
							<label class="label" for="email">Email</label>
						  <input type="email" class="form-control" placeholder="Email-Id" name="email" required>
						</div>
		            <div class="form-group mb-4">
		            	<label class="label" for="ph">Phone-Number</label>
		              <input type="tel" class="form-control" placeholder="Phone-Number" pattern="[0-9]{0,10}"  name="phnumber" required>
		            </div>
					<div class="form-group mb-4">
		            	<label class="label" for="address">Address</label>
		              <input type="text" class="form-control"  name="add" placeholder="Address" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3">ADD</button>
		            </div>
		          </form>
		        </div>
				</div>
			</div>
        </div>
    <script src="static/js/jquery-1.11.3.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.countdown.js"></script>
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<script src="static/js/waypoints.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<script src="static/js/sticker.js"></script>
	<script src="static/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>