<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Covert Channel</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/img/appicon2.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="static/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="static/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="static/css/responsive.css">
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader" >
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li ><a href="/">Home</a>
									<li><a href="/about">About</a></li>
									<li class="current-list-item active" ><a href="/login">Login</a></li>
									<li><a href="/register">Register</a></li>
									<li><a href="/adddoctor">Add Doctor Details</a></li>
								
								<!-- <li><a href="preprocess">Preprocess</a></li>
								<li><a href="/model">Model</a></li> -->
								<li><a href="/prediction" hidden>Prediction</a>
							</ul>
						</nav>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div> 
	<!-- end header -->
	{% comment %} <div class="row">
		<div class="mb-4" style="border-top-width: 0px;padding-top: 184px;">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Sign in</h1>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button>Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div> {% endcomment %}
	<!-- hero area -->
	<div class="hero-area hero-bg" style="background-image:url('/static/img/index2.jpg');">
        <div class="container">
            <div class="col-lg-7">
				<div class="mb-4" style="border-top-width: 0px;padding-top: 184px;">
					<section id="intro" class="tm-section">
						<!-- <div class="tm-bg-white-transparent tm-intro"> -->
						  <form action="{% url 'login' %}" method="post">
							{% csrf_token %}
							<h2 style="color: rgb(238, 234, 9);">{{message}}</h2>
							  <div class="container">
								<center>
								<h1 style="color:white;">Login</h1>
								
								<hr>
							
								<label for="email"><b style="color:white;">Email</b></label>
								<input type="text" placeholder="Enter Email" name="email" id="email" required>
								<br>
							
								<label for="psw"><b style="color:white;">Password</b></label>
								<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
								<br>
							
								
							
								
								<button type="submit" class="registerbtn">Login</button>
							  </div>
							
							  <div class="container signin">
								<h3 style="color:white;">No account? click here to <a href="/register">Register</a>.</h3>
							</center>
							  </div>
							</form>
						  <!-- <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary">Introducing Skin Disease Detector</h2>
						  <p class="tm-color-gray">
							Here we are helping Detect the Images for multiple Skin Diseases.
							We use Multi-Models to predict accurately.
						  </p> -->
						  
						  </p>
						</div>
					  </section>
                </div>
                </div>
            </div>
        </div>
    </div> 
	<!-- end hero area -->

	

	

	

	
	
	
	
	

	

	
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- end footer -->
	
	
	
	<!-- jquery -->
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="static/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="static/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="static/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="static/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="static/js/sticker.js"></script>
	<!-- main js -->
	<script src="static/js/main.js"></script>

</body>
</html>